NEXT_PUBLIC_PROXY_URL="/monitor"
NEXT_PUBLIC_PROXY_URL_DEV="https://pion-test.muon.net"
NEXT_PUBLIC_ALICE_URL_DEV="https://alice-test.muon.net/"
NEXT_PUBLIC_APP_MUON_V1_URL_DEV="https://app.muon.net/"
NEXT_PUBLIC_BASE_URL="/dashboard"
NEXT_PUBLIC_SIGN_MESSAGE="Please sign this message to verify ownership of your Ethereum address to verify its uniqueness for PION."

NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="a6907b1b3e53cff74197072fed84b739"

# Mainnet
# NEXT_PUBLIC_MUON_NODE_STAKING_CONTRACT="0x349a34804F8740c3202baDdeC0216c66A40c02e5"
# NEXT_PUBLIC_MUON_PION_TOKEN_CONTRACT="0xF81dF93aB37D5b1396139F294418B2741143b280"
# NEXT_PUBLIC_MUON_NODE_MANAGER_CONTRACT="0xD884634095AB3058264eE3143078F27D8fD78b9F"

# Chaple
# NEXT_PUBLIC_MUON_NODE_STAKING_CONTRACT="0xeb1AD80D6d93D8B7b691b306c4b48453EBAB542D"
# NEXT_PUBLIC_MUON_PION_TOKEN_CONTRACT="0x39f2914690547694c8668ae07061179bd70A66f4"
# NEXT_PUBLIC_MUON_NODE_MANAGER_CONTRACT="0xe3bDA2bd70CC4fD20Dee570803deaD1A73D73caE"

# BNB
NEXT_PUBLIC_MUON_NODE_STAKING_CONTRACT="0xCf5093AACC4Aa9fff703C365727309aDb5e81A0d"
NEXT_PUBLIC_MUON_PION_TOKEN_CONTRACT="0xb8067235c9b71FeeC069Af151Fdf0975dfBDFBA5"
NEXT_PUBLIC_MUON_NODE_MANAGER_CONTRACT="0x6eA3096eB0fAf5c1DEb970DCd29A6b10a48DaD83"