@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border outline-none focus:outline-none select-none p-0 m-0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  @apply text-black;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app {
  @apply min-h-screen;
  background-image: url('../public/assets/images/app-background.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  // Todo: Refactor this and use tailwind spacing classes
  @apply max-w-[90vw] py-12 md:max-w-[1232px] md:py-20 mx-auto;

  &--centered {
    @apply flex items-center justify-center;
  }

  &--get-started,
  &--review-details{
    @apply flex flex-col items-center justify-center md:max-w-[688px] mx-auto;
  }

  &--claim-prize {
    @apply flex flex-col items-center justify-center md:max-w-[674px] mx-auto;
  }
}

.btn {
  @apply cursor-pointer;
  // size properties
  @apply px-16 py-4 font-medium text-center;

  &:disabled {
    @apply bg-disabled text-gray3 cursor-not-allowed;
  }

  &--small {
    @apply px-5 py-2 text-sm;
  }

  &--large {
    @apply px-20 py-6 text-2xl font-medium;
  }

  &--secondary-tag {
    @apply px-2 py-0 text-xs font-light min-w-[40px];
  }

  // color properties
  @apply bg-primary text-white w-fit;

  &--dark-primary {
    @apply bg-dark-soft-primary text-white;
  }

  &--secondary {
    @apply bg-primary-13 text-primary;
  }

  &--secondary-tag {
    @apply bg-primary-10-solid text-primary;
  }

  // border properties
  @apply rounded-xl;

  &--small {
    @apply rounded-lg;
  }

  &--large {
    @apply rounded-xl;
  }

  &--secondary-tag {
    @apply rounded;
  }
}