@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border outline-none focus:outline-none select-none p-0 m-0;
}

.font-tourney {
  font-family: Tourney, sans-serif;
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @apply pr-0 mr-0;

  &::-webkit-scrollbar {
    width: 0;
    cursor: pointer;
    border-radius: 100%;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #5158F600;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ECEDFF;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ECEDFF;
    cursor: pointer;
  }
}

.actions-content {
  background-image: url("../public/assets/images/actions/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.review-detail {
  &__nft {
    background-image: url("../public/assets/images/review/nft-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


}

.stat-item {
  &__value {
    background: linear-gradient(73.73deg, #5B4FEC -7.26%, #DFA891 100.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.shop-card {

}

.styled-scroll {
  @apply pr-3 -mr-3;

  &::-webkit-scrollbar {
    width: 3px;
    cursor: pointer;
    border-radius: 100%;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #5158F621;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ECEDFF;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ECEDFF;
    cursor: pointer;
  }
}

.with-stroke {
  -webkit-text-stroke: 4px #5158F67F;
  paint-order: stroke fill;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  @apply text-white;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app {
  @apply min-h-screen relative bg-body-background;
}

html {
    @apply overflow-y-scroll no-scrollbar;
}

@media (max-width: 768px) {
  .page {
    min-height: calc(100vh) !important;
  }
}

.page {
  &__bg {
    //background-image: url('../public/assets/images/app-background2.svg'), linear-gradient(#F8FAFF 0%, #F8FAFF 100%);
    background-image: url('../public/assets/images/app-background2.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    &--home {
      background-image: url('../public/assets/images/app-background2.svg');
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  // Todo: Refactor this and use tailwind spacing classes
  @apply max-w-[90vw] py-12 pb-24 md:px-4 md:max-w-[1080px] md:pb-[148px] md:pt-[160px] mx-auto;
  min-height: calc(100vh);

  &--centered {
    //@apply flex items-center justify-center;
  }


  &--get-started,
  &--claim-prize {
    @apply flex flex-col items-center justify-center mx-auto;
  }

  &--review-details {
    @apply flex flex-col;
  }
}

.btn {
  @apply cursor-pointer flex items-center justify-center;
  // size properties
  @apply px-16 py-3.5 font-medium text-center;

  &:disabled {
    @apply bg-disabled text-gray cursor-not-allowed hover:bg-disabled;
  }

  &--icon-btn {
    @apply p-4;
  }

  &--small {
    @apply px-5 py-2 text-sm;

    &--with-icon {
      @apply px-4 py-[7px] text-sm;
    }
  }

  &--white {
    @apply bg-primary-L3 text-primary hover:bg-white transition-all;
  }

  &--large {
    @apply px-10 py-5 text-xl font-bold md:px-16 md:py-5 md:text-2xl md:font-medium;
  }

  &--secondary-tag {
    @apply px-2 py-0 text-xs font-light min-w-[40px];
  }

  // color properties
  @apply bg-primary text-white w-fit;

  &--dark-primary {
    @apply bg-dark-soft-primary text-primary;
  }

  &--secondary {
    @apply bg-secondary text-white;
  }

  &--secondary-tag {
    @apply bg-tag-bg text-black;
  }

  // border properties
  @apply rounded-xl;

  &--small {
    @apply rounded-lg;

    &--with-icon {
      @apply rounded-lg;
    }
  }

  &--large {
    @apply rounded-xl;
  }

  &--secondary-tag {
    @apply rounded;
  }
}