@import 'tourney.css';

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url('Inter/Inter-Black.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url('Inter/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('Inter/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url('Inter/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url('Inter/Inter-Thin.ttf') format('truetype');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src: url('Inter/Inter-Regular.ttf') format('truetype');
}


* {
  font-family: Inter, sans-serif;
}
