@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: 800;
    src: url('Tourney/Tourney-Black.ttf') format('truetype');
}
@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: bold;
    src: url('Tourney/Tourney-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: 500;
    src: url('Tourney/Tourney-Medium.ttf') format('truetype');
}
@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: 300;
    src: url('Tourney/Tourney-Light.ttf') format('truetype');
}
@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: 200;
    src: url('Tourney/Tourney-Thin.ttf') format('truetype');
}
@font-face {
    font-family: Tourney;
    font-style: normal;
    font-weight: normal;
    src: url('Tourney/Tourney-Regular.ttf') format('truetype');
}
